/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

body { padding: 0 0 20px; }

a { color: #981B1E; }


/* -------------------------------------------------------------------------- */
/* -----| HEADER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.navbar {
    margin-bottom: 0;
}

.header {
    background: #121212 url(images/black_gradient.png) repeat-x left top;
    border-bottom: 5px solid #981B1E;
    padding: 15px 30px;
    overflow: hidden;
}

.site-title {
    display: inline-block;
    margin: 0;
}

.site-title a {
    display: inline-block;
}

.definition {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    color: #666;
    display: block;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
} 


/* -------------------------------------------------------------------------- */
/* -----| NAVIGATION |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.site-navigation {
    display: inline-block;
    margin: 6px 0 0;
}

.site-navigation li {
    display: inline-block;
    float: left;
    list-style: none;
    margin-left: 8px;
}

.site-navigation li a {
    color: #FFF;
    display: block;
    padding: 5px 8px;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}

.site-navigation li a:hover {
    color: #FFF;
}

.site-navigation li a i {
    position: relative;
    top: 1px;
}

.site-navigation li.active .link-wrapper {
    border-bottom: 2px solid #FFF;
}

.site-navigation li.current_page_item a,
.site-navigation li.current-menu-item a {
    color: #FFF;
    text-decoration: underline;
}


/* -------------------------------------------------------------------------- */
/* -----| CONTENT |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.content-box {
    background-color: #FFF;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    padding: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.section-title {
    background-color: #121212;
    border-radius: 3px;
    color: #FFF;
    margin-bottom: 1em;
    padding: 3px 8px;
}



/* -------------------------------------------------------------------------- */
/* -----| MEETING INFO |----------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#next-meeting {
    padding: 15px;
    text-align: center;
}

#next-meeting .meeting-month,
#next-meeting .meeting-day,
#next-meeting .meeting-year {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #999;
    color: #333;
    display: inline-block;
    font-size: 4.8em;
    font-weight: bold;
    margin: 5px;
    position: relative;
    -moz-border-radius: 8px;
    -moz-box-shadow: 0px 2px 4px #999;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0px 2px 4px #999;
}

#next-meeting .number {
    padding: 48px 38px;
}

#next-meeting .midLine {
    background-color: #333;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
}

#next-meeting p {
    font-size: 1.4em;
    line-height: 1.5em;
    margin: 1em 0;
    text-align: center;
}


/* -------------------------------------------------------------------------- */
/* -----| FEED LISTS |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#forum-feed h3 {
    border-bottom: 1px dotted #333;
}

#forum-feed .nav {
    margin-bottom: 0 !important;
}

#forum-feed .tab-content {
    height: 238px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 5px 5px 5px 0;
    border-bottom: 1px solid #DDD;
}

#forum-feed .dropdown-menu {
    left: auto;
    right: 0;
}

.feed-list {
    margin: 0;
    padding: 0;
}

.feed-list li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.feed-list li.odd {
    background-color: #F3F3F3;
}

.feed-list li.even {
    background-color: #FFF;
}

.feed-list li a {
    display: block;
    padding: 5px;
}

.feed-list li a:hover {
    background-color: #E3E3E3;
    text-decoration: none;
}

.feed-list .feed-title {
    color: #981B1E;
    display: block;
    font-size: 1em;
    font-weight: bold;
}

.feed-list small {
    color: #999;
    font-size: .85em;
}


/* -------------------------------------------------------------------------- */
/* -----| INFO BOXES |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#info-boxes h4 {
    border-bottom: 1px dotted #333;
    margin-bottom: .5em;
}

.info-box {
    margin-bottom: 20px;
    text-align: justify;
}

.social-link {
    color: #FFF;
    font-size: 1.2em;
    padding: 6px 10px 6px 38px;
}

.social-link.twitter {
    background: #46C8F5 url(../img/twitter_32.png) no-repeat left center;
}

.social-link.google {
    background: #DD4C39 url(../img/google_plus_32.png) no-repeat left center;
}

.social-link:hover {
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/* -----| GUIDELINES |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#meeting-guidelines {
    /* NULL */
}

.guidelines  {
    margin-bottom: 20px;
    text-align: justify;
}

#meeting-guidelines h4 {
    border-bottom: 1px dotted #333;
    margin: 0 0 .5em;
}

#meeting-guidelines ul,
#meeting-guidelines ol {
    margin: 1em 0 1em 40px !important;
}

#meeting-guidelines ul li,
#meeting-guidelines ol li {
    margin: .5em 0;
}

#meeting-guidelines .note p {
    font-size: .85em;
    margin: .5em 0;
}


/* -------------------------------------------------------------------------- */
/* -----| FOOTER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#footer {
    color: #ACACAC;
    text-align: center;
}

#footer a {
    color: #ACACAC;
    text-decoration: underline;
}


/* -------------------------------------------------------------------------- */
/* -----| BOOTSTRAP OVERRIDES |---------------------------------------------- */
/* -------------------------------------------------------------------------- */

.alert {
    margin: 10px 0;
    text-align: center;
}

.alert a {
    text-decoration: underline;
}

.alert-info a {
    color: #3A87AD;
}

.alert-success a {
    color: #468847;
}

.alert .close {
    text-decoration: none;
}


/* -------------------------------------------------------------------------- */
/* -----| MISCELLANEOUS |---------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.hide-text {
    margin-left: -20000px !important;
}

